:root{
    --primary-color: #ffffff;
    --secondary-color: #55e4b9;
    --font-family: 'Arial, sans-serif';
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: rgb(0, 0, 0);
}

/* Header */
header{
    margin: 1.5em;
    position: sticky;
    top: 2em;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    font-size: 1.2em;
    margin-right: 1.2em;
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.hero h1{
    font-size: 2.5em;
    margin-bottom: 0;
}

/* Description */
.description-section{
    display: flex;
    flex-direction: column;
}

.description-section article:nth-of-type(1){
    margin: 2em;
    text-align: center;
}

.description-section h3{
    text-align: center;
}

.divider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.divider article:nth-of-type(1){
    text-align: start;
    width: 500px;
}

