body{
    background: url(https://assets.eposnow.com/public/blog-images/is-owning-a-barber-shop-profitable-v3.jpg) no-repeat;
    margin: 0;
}
/* Header */
header {
    z-index: 2;
    border: 3px solid #FDE5D4;
    position: fixed;  
    left: 5px;  
    right: 5px;  
    top: 10px;  
    height: 6em;  
    display: flex; 
    align-items: center;  
    justify-content: center;
    box-shadow: 0 0 25px 0 #D6CC99;
    border-radius: 1.5625em;
}
header * {  
    display: flex;  
    }  
    header li {  
    margin: 0.5em;  
    }  
    header li a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
    }  
    header a{
        font-size: 20px;
    }
    header a:hover{
        color: grey;
    }

header img{
        width: 4em;
        height: 4em;
    }